@use 'sass:color' as color;

$lighten-weight: 10%;
$lighten-weight2: 20%;

$colorRates: 25, 50, 75;


// 黒と白とグレー
$yomiyasuBlack: #333333;
$yomiyasuWhite: #f7f7f7;
$yomiyasuGray: #8a8a8a;

// テーマカラー
$yomiyasuThemeColor: #5b724a; // ハミングバードグリーン

// 三原色＋黄色
$yomiyasuRed: #ae675d;
$yomiyasuGreen: #5b6f66;
$yomiyasuBlue: #695dae;
$yomiyasuYellow: #aea55d;

:root {

    --yomiyasu-black: #{color.adjust($yomiyasuBlack)};
    --yomiyasu-white: #{color.adjust($yomiyasuWhite)};

    // グレースケール
    --yomiyasu-gray: #{color.adjust($yomiyasuGray)};
    @each $rate in $colorRates {
        --yomiyasu-dark-gray-#{$rate}: #{color.mix($yomiyasuBlack, $yomiyasuGray, $rate * 1%)};
        --yomiyasu-light-gray-#{$rate}: #{color.mix($yomiyasuWhite, $yomiyasuGray, $rate * 1%)};
    }

    // テーマカラー
    --yomiyasu-theme-color: #{color.adjust($yomiyasuThemeColor)};
    @each $rate in $colorRates {
        --yomiyasu-dark-theme-color-#{$rate}: #{color.mix($yomiyasuBlack, $yomiyasuThemeColor, $rate * 1%)};
        --yomiyasu-light-theme-color-#{$rate}: #{color.mix($yomiyasuWhite, $yomiyasuThemeColor, $rate * 1%)};
    }
    
    // 赤
    --yomiyasu-red: #{color.adjust($yomiyasuRed)};
    @each $rate in $colorRates {
        --yomiyasu-dark-red-#{$rate}: #{color.mix($yomiyasuBlack, $yomiyasuRed, $rate * 1%)};
        --yomiyasu-light-red-#{$rate}: #{color.mix($yomiyasuWhite, $yomiyasuRed, $rate * 1%)};
    }

    // 緑
    --yomiyasu-green: #{color.adjust($yomiyasuGreen)};
    @each $rate in $colorRates {
        --yomiyasu-dark-green-#{$rate}: #{color.mix($yomiyasuBlack, $yomiyasuGreen, $rate * 1%)};
        --yomiyasu-light-green-#{$rate}: #{color.mix($yomiyasuWhite, $yomiyasuGreen, $rate * 1%)};
    }
    // 青
    --yomiyasu-blue: #{color.adjust($yomiyasuBlue)};
    @each $rate in $colorRates {
        --yomiyasu-dark-blue-#{$rate}: #{color.mix($yomiyasuBlack, $yomiyasuBlue, $rate * 1%)};
        --yomiyasu-light-blue-#{$rate}: #{color.mix($yomiyasuWhite, $yomiyasuBlue, $rate * 1%)};
    }
    // 黄
    --yomiyasu-yellow: #{color.adjust($yomiyasuYellow)};
    @each $rate in $colorRates {
        --yomiyasu-dark-yellow-#{$rate}: #{color.mix($yomiyasuBlack, $yomiyasuYellow, $rate * 1%)};
        --yomiyasu-light-yellow-#{$rate}: #{color.mix($yomiyasuWhite, $yomiyasuYellow, $rate * 1%)};
    }
}
