@use 'sass:color';

:root {
    --normal-color:  var(--vp-c-accent);
    --accent1-color: #274135;
    --accent2-color: #963729;
    --accent3-color: #392996;
    --accent4-color: #968929;
    --accent5-color: color.grayscale(var(--vp-c-accent));
}
