@use 'color';



$colorNames: 'red', 'green', 'yellow', 'blue', 'gray';

@each $colorName in $colorNames {
    .#{$colorName}-colored {
        color: var(--yomiyasu-#{$colorName});
    }
    .#{$colorName}-invert-colored {
        color: var(--yomiyasu-white);
        background-color: var(--yomiyasu-#{$colorName});
    }
    .#{$colorName}-bordered-colored {
        border: var(--yomiyasu-#{$colorName});
    }
}
@mixin colored-emphasis-text($color: var(--yomiyasu-black)){
    color: $color;
    font-weight: bold;
}

@each $colorName in $colorNames {
    .#{$colorName}-text{
        @include colored-emphasis-text(var(--yomiyasu-dark-#{$colorName}-50));
    }
    .light-#{$colorName}-text{
        @include colored-emphasis-text(var(--yomiyasu-light-#{$colorName}-50));
    }
    [data-theme=dark] {
        .#{$colorName}-text{    
            @include colored-emphasis-text(var(--yomiyasu-light-#{$colorName}-50));
        }
        .light-#{$colorName}-text{    
            @include colored-emphasis-text(var(--yomiyasu-dark-#{$colorName}-50));
        }
    }
}
