///////////////////////////////////////////////////////////////////////////////
// Homeで使うローカルスタイル
///////////////////////////////////////////////////////////////////////////////

/*
 * Homeのタイトル
 */
#main-title {
    display: none;
}


/**
 * フッタのスタイル
 */
.footer {
    color: var(--yomiyasu-gray);
    font-size: xx-small;
    border-top: var(--yomiyasu-dark-gray) 1px solid;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: 3rem;
    padding: 0.5rem 0;
    /* フッタのコンテンツ */
    span {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
